<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="address" class="com.waves.domain.Address">
        <property name="province" value="山东省"/>
        <property name="city" value="临沂市"/>
        <property name="county" value="兰陵县"/>
    </bean>

    <bean id="student" class="com.waves.domain.Student">
        <property name="address" ref="address"/>
    </bean>
   <bean id="teacher" class="com.waves.domain.Teacher">
        <property name="address" ref="address"/>
    </bean>

</beans>